body {
  padding: 20px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

p {
  margin-top: 30px;
  font-weight: bold;
  font-size: medium;
}

li {
  margin-left: 10px;
  span {
    letter-spacing: 0.5px;
    margin-right: 10px;
  }
}

a {
  color: #00B7FF;
  line-height: 1.5;
}
